.image_big{
    width: 500px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.single_filter_main_div{
    display: flex;
    flex-direction: row;
}

.short-description{
    font-size:20px;
    margin-top:10px;
}

.title{
    font-size: 32px;
    font-weight: bold;
    margin: 0px;
}

.filter-contents{
    padding-left: 20px;
    padding-right: 20px;
}