@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
  
body{
    background: white;
    margin: 0px;
}
.header{
    display: flex;
    align-items: stretch;
    position: sticky;
    background-color: white;
    border-bottom: 1px solid;
    border-color: lightgrey;
    top: 0;
    width: auto;    
    height: 4.5rem;
    padding: 0 3rem;

}

.header-text{
    font-weight: 600;
    font-size: xx-large;
    text-decoration: none;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    
}




.container{
    padding: 10px;
}

