{% extends 'header.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'single_filter.css' %}"/>
{% endblock %}


{% block main_block %}
 <div class="single_filter_main_div">
    <img src={{data.filter.image}} class="image_big">
    <div class="filter-contents">
        <p class="title">{{data.filter.title}}</p>
        <p class="short-description">{{data.filter.description}}</p>
        <p class="short-description">Матрица:</P>
        <div class="matrix_filter">
            {% for m_value in data.filter.matrix_values %}
            <div style="border:1px solid black">
                {{m_value}}
            </div>
            {%endfor%}
        </div>
    </div>
    
 </div>   
{% endblock %}