{% extends 'header.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'all_filters_style.css' %}"/>
{% endblock %}

{% block main_block %}
<form action="." method="GET">
    <input type="search" name="search" class="search-bar" placeholder="Поиск" />
</form>
<div class="card-container">
    {% for filter in data.filters %}
        <div class="card">
            <img src={{filter.image}} class="image">
            <div class="card-contents">
                <p class="title">{{filter.title}}</p>
                <p class="short-description">{{filter.description}}</p>
                <a href="/filters/{{filter.id}}/" class="card-button">Подробнее</a> 
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}