{% load static %}

<!DOCTYPE html>
<html lang="rus">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pictura</title>
    <link rel="shortcut icon" href="{{data.favicon}}">
    <link rel="stylesheet" type="text/css" href="{% static 'main_style.css' %}"/>
    {% block head %}{% endblock %}
  </head>
  <body>
    <div class="header">
      <a class="header-text" href="/">Pictura</a>
    </div>
    <div class="container">
      {% block main_block %}{% endblock %}
    </div>
    <p>{{ data.message }}</p>
  </body>
</html>