{% extends 'header.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'queue_style.css' %}"/>
{% endblock %}

{% block main_block %}
<div class="queue-user-image">
    <p class="image-title">Изображение:</p>
    <p class="image-name">{{data.image}}</p>
</div>
<div class="queue-container">
    {% for filter in data.filters %}
        <div class="queue_card">
            <img src={{filter.filter.image}} class="queue_image">
            <div class="queue-contents">
                <p class="queue-title">{{filter.filter.title}}</p>
                <p class="queue-short-description">{{filter.filter.description}}</p>
            </div>
            <p style="text-align:right;margin-left:auto;margin-right:10px;">{{filter.order}}</p>
        </div>
    {% endfor %}
</div>
<form action="/queue/delete/" method="POST" class="buttons-container">
    <button name="queue_id" value="{{data.queue_id}}" class="delete-button">Удалить Очередь</button>
</form>
{% endblock %}